// Buttons =====================================================================

.input-group {
    align-items: center;
}

.input-group-append {
    border: {
        top: 3px solid transparent;
        right: 3px solid transparent;
        bottom: 3px solid transparent;
    }
}

.input-group-prepend {
    border: {
        top: 3px solid transparent;
        left: 3px solid transparent;
        bottom: 3px solid transparent;
    }
}

.input-group-append > .btn,
.input-group-prepend > .btn {
    border-width: 3px;
}

// Tables ======================================================================

.table-dark {
    background-color: transparent;

    & > thead > tr {
        @extend .text-center, .text-uppercase, .font-weight-bold;
        background-color: $bright-blue-gray;
        border-color: rgba($bright-blue-gray, 0.2);

        & th {
            border-color: rgba(124, 151, 165, 0.2);
        }
    }

    & > tbody > tr {
        transition: all 0.1s ease;
    }
}

// Screen Background Overlays ===================================================

@include media-breakpoint-up(lg) {
    .screen-background-overlays {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;

        .overlay-triangles {
            position: absolute;
            width: 100%;
            height: 90px;
            filter: hue-rotate(-15deg);

            background-image: url('~/public/images/partial.png');
            background-position: bottom;
            background-repeat: repeat-x;
        }
    }
}

// Navs ========================================================================

@include media-breakpoint-up(lg) {
    div.header-container {
        position: absolute;
        width: 100%;
        height: 160px;

        .header-background-container {
            z-index: -2;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $blue-gray;

            .header-background {
                height: 100%;
                margin: auto;
                background-color: $bright-blue;
                opacity: .5;

                @include media-breakpoint-only(lg) {
                    width: 992px;

                    &::before {
                        background-image: linear-gradient(to right, $blue-gray, transparent 200px, transparent 792px, $blue-gray 992px);
                    }
                }

                @include media-breakpoint-only(xl) {
                    width: 1200px;

                    &::before {
                        background-image: linear-gradient(to right, $blue-gray, transparent 200px, transparent 940px, $blue-gray 1200px);
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    height: 100%;
                }
            }
        }
    }

    header {
        background-image: linear-gradient(0deg, hsla(170, 50%, 50%, 0.07), transparent);
        @include media-breakpoint-down(md) {
            position: absolute;
            width: 100%;
            height: 160px;
        }
    }
}

.navbar-nat {
    background-image: none;
    & .nav-link {
        font-weight: bold;
    }

    & .nav-link:hover, & .active {
        text-shadow: 0 0 1px white;
    }
}

@include media-breakpoint-down(md) {
    .navbar-nat {
        background-color: $bright-blue-gray;
        background-image: none;
    }
}

// Indicators ==================================================================

.close {
    opacity: 0.4;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.alert {
    border: none;
    color: $white;

    a,
    .alert-link {
        color: #fff;
        text-decoration: underline;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            @if $enable-gradients {
                background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
            } @else {
                background-color: $value;
            }
        }
    }
}

// Cards

.card-header-img {
    background-image: url('~/public/images/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.card-individual {
    min-height: 110px;
    height: 100%;
    background-color: $bright-blue-gray;
    cursor: pointer;
    @extend .shadow;

    & .card-body {
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    
    & .card-footer {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    & .card-icons {
        text-align: right;
    }

    & .card-status {
        height: 5px;
        margin: auto 0;
    }
}

.home-card {
    min-height: 60px;
    height: 100%;
    @extend .shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    transition: all 120ms linear;
    box-shadow: 0 0 0px transparent !important;

    &:hover {
        box-shadow: 0 0 10px #92b2bdb8 !important;
        cursor: pointer;
        z-index: 1;
    } 
}

.modal-content .card, .card .card {
    background-color: $bright-blue-gray;

    & .form-control {
        background-color: lighten($bright-blue-gray, 5%);
    }
}

.dropdown-item:hover {
    background-color: $primary !important;
}

// Modals ========================================================================

.modal-body {
    background-color: $blue-gray;
}
