// Buttons =====================================================================

.input-group {
    align-items: center;
}

.input-group-append {
    border: {
        top: 3px solid transparent;
        right: 3px solid transparent;
        bottom: 3px solid transparent;
    }
}

.input-group-prepend {
    border: {
        top: 3px solid transparent;
        left: 3px solid transparent;
        bottom: 3px solid transparent;
    }
}

.input-group-append > .btn,
.input-group-prepend > .btn {
    border-width: 3px;
}

// Tables ======================================================================

.table-dark {
    background-color: transparent;

    & > thead > tr {
        @extend .text-center, .text-uppercase, .font-weight-bold;
        background-color: $bright-blue-gray;
        border-color: rgba($bright-blue-gray, 0.2);

        & th {
            border-color: rgba(124, 151, 165, 0.2);
        }
    }

    & > tbody > tr {
        transition: all 0.1s ease;
    }
}

// Navs ========================================================================

header {
    width: 100%;
    height: 160px;
    position: absolute;
    background-image: linear-gradient(0deg, rgba($bright-blue, 0.1), transparent);
}

.navbar-nat {
    z-index: 1000;
    background-repeat: repeat-x;
    background-position: bottom;
    filter: hue-rotate(-10deg);

    & .nav-link {
        font-weight: bold;
    }

    & .nav-link:hover, & .active {
        text-shadow: 0 0 1px white;
    }
}

@include media-breakpoint-down(md) {
    .navbar-nat {
        background-color: $bright-blue-gray;
        background-image: none;
    }
}

// Indicators ==================================================================

.close {
    opacity: 0.4;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.alert {
    border: none;
    color: $white;

    a,
    .alert-link {
        color: #fff;
        text-decoration: underline;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            @if $enable-gradients {
                background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
            } @else {
                background-color: $value;
            }
        }
    }
}

// Cards

.card-header-img {
    background-image: url('~/public/images/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.card-individual {
    min-height: 110px;
    height: 100%;
    background-color: $bright-blue-gray;
    cursor: pointer;
    @extend .shadow;

    & .card-body {
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    
    & .card-footer {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    & .card-icons {
        text-align: right;
    }

    & .card-status {
        height: 5px;
        margin: auto 0;
    }
}

.home-card {
    min-height: 60px;
    height: 100%;
    @extend .shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    transition: all 120ms linear;
    box-shadow: 0 0 0px transparent !important;

    &:hover {
        box-shadow: 0 0 10px #92b2bdb8 !important;
        cursor: pointer;
        z-index: 1;
    } 
}

.modal-content .card, .card .card {
    background-color: $bright-blue-gray;

    & .form-control {
        background-color: lighten($bright-blue-gray, 5%);
    }
}

.dropdown-item:hover {
    background-color: $primary !important;
}

// Modals ========================================================================

.modal-body {
    background-color: $blue-gray;
}