//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #999;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black:    #000;

$blue-gray:         hsl(170, 20%, 15%);
$bright-blue-gray:  hsl(170, 20%, 20%);
$dark-blue-gray:    hsl(170, 15%, 10%);
$bright-blue:       hsl(170, 100%, 25%);
$pastel-blue:       hsl(170, 40%, 75%);
$blue:    #3b74b1;
$indigo:  #6f27e2;
$purple:  #795fa6;
$pink:    #e83e8c;
$red:     #E74C3C;
$orange:  #fd7e14;
$yellow:  #F39C12;
$green:   #6ebf65;
$teal:    #20c997;
$cyan:    #3688bf;

$primary:       hsl(170, 20%, 23.5%);
$secondary:     hsl(165, 15%, 80%);
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-600;
$dark:          $gray-800;

$theme-colors: (
  "nat": #bc584d,
  "bn": #6d44af ,
  "probation": #c78bc9c5,
  "trial-nat": #ca75df,
  "gmt": #99eb47,
  "pass": $success,
  "neutral": $gray-500,
  "fail": $danger,
  "blue-gray": $blue-gray,
  "bright-blue-gray": $bright-blue-gray,
  "bright-blue": $bright-blue,
  "pastel-blue": $pastel-blue,
);

$component-active-bg: $gray-900;
$yiq-contrasted-threshold:  175;

// Typography

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

$font-family-base:                  'Baloo 2', sans-serif;
$paragraph-margin-bottom:           0.5rem;
$small-font-size:                   85%;
$badge-font-weight:                 normal;

// Body

$body-bg:                         $dark-blue-gray;
$body-color:                      $gray-100;

// Links

$link-color:                      $pastel-blue;

// Forms

$input-height-border:               3px;
$input-bg:                          hsl(170, 20%, 22%);
$input-color:                     #fff;
$input-border-color:                transparent;
$input-border-width:                3px;
$input-focus-border-color:          hsl(170, 20%, 32%);
$input-disabled-bg:                 hsl(170, 20%, 16%);

$input-group-addon-color:           $gray-500;
$input-group-addon-bg:              $gray-700;

$custom-file-color:                 $gray-500;
$custom-file-border-color:          $gray-700;

// Dropdowns

$dropdown-bg:                       $gray-900;
$dropdown-border-color:             $gray-700;
$dropdown-divider-bg:               $gray-700;

$dropdown-link-color:               $white;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

// Navs

$nav-link-padding-x:                2rem;
$nav-link-disabled-color:           $gray-500;

$nav-tabs-border-color:             $gray-700;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

// Navbar

$navbar-padding-y:                  1rem;

$navbar-dark-color:                 rgba($white, .85);
$navbar-dark-hover-color:           $white;

// Cards

$card-cap-bg:                       $bright-blue-gray;
$card-bg:                           $blue-gray;

// Modals

$modal-content-bg:                  hsl(170, 20%, 16.5%);
$modal-content-border-color:        hsl(170, 20%, 16.5%);

$modal-header-border-color:         hsl(170, 20%, 16.5%);

// Close

$close-color:                       $white;
$close-text-shadow:                 none;

// Shadows

$box-shadow-sm:               0 1px 1px rgba(0, 0, 0, .075) !default;
$box-shadow:                  0 1px 3px rgba(0, 0, 0, .25) !default;
$box-shadow-lg:               0 1px 3px rgba(0, 0, 0, .5) !default;

// Misc

$scrollbar-color:             hsl(170, 20%, 29%);
$selection-bg:                $bright-blue;

// Game mode icons

$osu: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Ccircle class='cls-1' cx='250' cy='250' r='130'/%3E%3Cpath class='cls-1' d='m250,140c29.38,0,57.01,11.44,77.78,32.22,20.78,20.78,32.22,48.4,32.22,77.78s-11.44,57.01-32.22,77.78c-20.78,20.78-48.4,32.22-77.78,32.22s-57.01-11.44-77.78-32.22c-20.78-20.78-32.22-48.4-32.22-77.78s11.44-57.01,32.22-77.78c20.78-20.78,48.4-32.22,77.78-32.22m0-40c-82.84,0-150,67.16-150,150s67.16,150,150,150,150-67.16,150-150-67.16-150-150-150h0Z'/%3E%3C/g%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";
$taiko: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Cpath class='cls-1' d='m225,153.16c-43.08,11.13-75,50.33-75,96.84s31.92,85.71,75,96.84v-193.67Z'/%3E%3Cpath class='cls-1' d='m275,153.16v193.67c43.08-11.13,75-50.32,75-96.84s-31.92-85.71-75-96.84Z'/%3E%3Cpath class='cls-2' d='m250,100c-82.84,0-150,67.16-150,150s67.16,150,150,150,150-67.16,150-150-67.16-150-150-150Zm-100,150c0-46.51,31.92-85.71,75-96.84v193.67c-43.08-11.13-75-50.32-75-96.84Zm125,96.84v-193.67c43.08,11.13,75,50.33,75,96.84s-31.92,85.71-75,96.84Z'/%3E%3C/g%3E%3Cpath class='cls-2' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";
$catch: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3Cg%3E%3Ccircle class='cls-1' cx='308.75' cy='250' r='37.5'/%3E%3Ccircle class='cls-1' cx='221.25' cy='173.75' r='37.5'/%3E%3Ccircle class='cls-1' cx='221.25' cy='326.25' r='37.5'/%3E%3C/g%3E%3C/svg%3E";
$mania: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m250,401c-13.81,0-25-11.19-25-25V124c0-13.81,11.19-25,25-25s25,11.19,25,25v252c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m170,330c-13.81,0-25-11.19-25-25v-110c0-13.81,11.19-25,25-25s25,11.19,25,25v110c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m330,330c-13.81,0-25-11.19-25-25v-110c0-13.81,11.19-25,25-25s25,11.19,25,25v110c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";
$osu-check: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; %7D .cls-1, .cls-2 %7B fill: %233688bf; %7D .cls-2 %7B stroke: %233688bf; stroke-miterlimit: 10; %7D %3C/style%3E%3C/defs%3E%3Cg%3E%3Ccircle class='cls-1' cx='250' cy='250' r='130'/%3E%3Cpath class='cls-1' d='m250,140c29.38,0,57.01,11.44,77.78,32.22,20.78,20.78,32.22,48.4,32.22,77.78s-11.44,57.01-32.22,77.78c-20.78,20.78-48.4,32.22-77.78,32.22s-57.01-11.44-77.78-32.22c-20.78-20.78-32.22-48.4-32.22-77.78s11.44-57.01,32.22-77.78c20.78-20.78,48.4-32.22,77.78-32.22m0-40c-82.84,0-150,67.16-150,150s67.16,150,150,150,150-67.16,150-150-67.16-150-150-150h0Z'/%3E%3C/g%3E%3Cpath class='cls-2' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";
$taiko-check: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %233688bf; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m250,100c-82.84,0-150,67.16-150,150s67.16,150,150,150,150-67.16,150-150-67.16-150-150-150Zm-100,150c0-46.51,31.92-85.71,75-96.84v193.67c-43.08-11.13-75-50.32-75-96.84Zm125,96.84v-193.67c43.08,11.13,75,50.33,75,96.84s-31.92,85.71-75,96.84Z'/%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";
$catch-check: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %233688bf; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3Cg%3E%3Ccircle class='cls-1' cx='308.75' cy='250' r='37.5'/%3E%3Ccircle class='cls-1' cx='221.25' cy='173.75' r='37.5'/%3E%3Ccircle class='cls-1' cx='221.25' cy='326.25' r='37.5'/%3E%3C/g%3E%3C/svg%3E";
$mania-check: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='LOGO_LAYER' data-name='LOGO LAYER' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %233688bf; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m250,401c-13.81,0-25-11.19-25-25V124c0-13.81,11.19-25,25-25s25,11.19,25,25v252c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m170,330c-13.81,0-25-11.19-25-25v-110c0-13.81,11.19-25,25-25s25,11.19,25,25v110c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m330,330c-13.81,0-25-11.19-25-25v-110c0-13.81,11.19-25,25-25s25,11.19,25,25v110c0,13.81-11.19,25-25,25Z'/%3E%3Cpath class='cls-1' d='m250,55c107.7,0,195,87.3,195,195s-87.3,195-195,195S55,357.7,55,250,142.3,55,250,55m0-40c-31.71,0-62.49,6.22-91.48,18.48-27.99,11.84-53.12,28.78-74.69,50.35-21.57,21.57-38.51,46.7-50.35,74.68-12.27,29-18.48,59.78-18.48,91.48s6.22,62.49,18.48,91.48c11.84,27.99,28.78,53.12,50.35,74.69,21.57,21.57,46.7,38.51,74.69,50.35,29,12.26,59.78,18.48,91.48,18.48s62.49-6.22,91.48-18.48c27.99-11.84,53.12-28.78,74.69-50.35,21.57-21.57,38.51-46.7,50.35-74.69,12.26-29,18.48-59.78,18.48-91.48s-6.22-62.49-18.48-91.48c-11.84-27.99-28.78-53.12-50.35-74.68-21.57-21.57-46.7-38.51-74.69-50.35-29-12.27-59.78-18.48-91.48-18.48h0Z'/%3E%3C/svg%3E";

// Line break
$line-break: rgba(211, 211, 211, 0.2);
