@import "variables";
@import "bootstrap/scss/bootstrap";
@import "custom";

// Vue transitions  ======================================================
.list-enter-active,
.list-leave-active,
.list-move {
    transition: all 0.8s;
}

.list-leave-active {
    position: absolute;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.route-transition-enter-active, .route-transition-leave-active {
    transition: opacity .2s;
}

.route-transition-enter-from, .route-transition-leave-to {
    opacity: 0;
}

// =========================================================================

.body-triangles::before {
    background-image: url('/images/triangles.png');
    opacity: .25;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
}

.body-content-padding {
    padding-top: 94px !important;

    @include media-breakpoint-down(md) {
        padding-top: 24px !important;
    }
}

sup {
    font-size: 18px;
}

section {
    @extend .mb-2;
}

.pre-line {
    white-space: pre-line;
}

.cursor-pointer {
    cursor: pointer;
}

.sort-filter {
    @extend .mt-3, .ms-3;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &--small {
        @extend .small;
    }

    &__title {
        @extend .small;
        width: 60px;
        display: inline-block;

        &--large {
            width: 120px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        flex: 1;
    }

    &__item {
        padding: 4px;

        &--selected {
            color: #fff;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-down(sm) {
    .sort-filter {
        flex-direction: column;
    }
}

.avatar-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 1px 1rem rgba(10, 10, 25, .5);

    &--small {
        width: 38px;
        height: 38px;
    }
}

// =========================================================================
// remove spinner buttons from number inputs
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* RADIO MODES */
.hide-default {
    display: none;
}

input[type="radio"] + .fas { cursor: pointer; }

/* Unchecked */
.checkmark-radio + .fa-check:before { content: "\f00c"; }
.cross-radio + .fa-check:before { content: "\f00d"; }
.probation-bn-radio + .fa-stream:before { content: "\f368"; }
.full-bn-radio + .fa-stream:before { content: "\f554"; }
.nat-radio + .fa-stream:before { content: "\f70c"; }

/* Checked */
.checkmark-radio:checked + .fa-check:before { 
    color: var(--bs-info);
    content: "\f00c"; 
}
.cross-radio:checked + .fa-times:before { 
    color: var(--bs-info);
    content: "\f00d"; 
}
.probation-bn-radio:checked + .fa-accessible-icon:before { 
    color: var(--bs-info);
    content: "\f368"; 
}
.full-bn-radio:checked + .fa-walking:before { 
    color: var(--bs-info);
    content: "\f554"; 
}
.nat-radio:checked + .fa-running:before { 
    color: var(--bs-info);
    content: "\f70c"; 
}
/* END RADIO MODES */

/* Scrollbar */
body {
    scrollbar-color: $scrollbar-color;
    overflow: overlay;
}

.header-v4__bg-container {
    z-index: -1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(170, 20%, 32%);
}

::selection {
    color: $white;
    background: $selection-bg;
}

::-moz-selection { /* Firefox */
    color: $white;
    background: $selection-bg;
}

/* Image overflow */
img {
    max-width: 100%;
    height: auto;
}

/* game mode icons */
.osu-icon {
    content: url($osu);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.taiko-icon {
    content: url($taiko);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.catch-icon {
    content: url($catch);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.mania-icon {
    content: url($mania);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.mode-icon-select {
    &:hover {
        cursor: pointer;
        z-index: 1;
    } 
}

.osu-icon-check {
    content: url($osu-check);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.taiko-icon-check {
    content: url($taiko-check);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.catch-icon-check {
    content: url($catch-check);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

.mania-icon-check {
    content: url($mania-check);
    height: 1em;
    width: 1em;
    display: inline-flex;
    vertical-align: -0.1em;
}

/* Line break */
.v-html-content hr {
    border-top: 1px solid $line-break;
}

/* Code blocks */
pre {
    background-color: $body-bg;
    color: $link-color;
    padding: 1rem;
    border-radius: 0.25rem;
}

code:not(pre > code) {
    background-color: $dark-blue-gray;
    color: $link-color;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

/* osu! timestamps */
a.timestamp-link {
    text-decoration: none;

    code.timestamp {
        transition: background-color 0.3s ease;
    
        &:hover {
            cursor: pointer;
            background-color: hsl(170, 15%, 12%);
        }
    }
}

/* Quote blocks */

blockquote {
    border-left: 2px solid $link-color;
    padding-left: 1rem;
    padding-top: 0px;

    p {
        margin-bottom: 0;
    }
}
