{ 
    "presets": [
        ["@babel/env", {
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": {
                "version": 3
            }
        }]
    ],
    "ignore": [
        "**/shared"
    ]
}