<div class="segment segment-solid">
    <p>The <a href="https://osu.ppy.sh/help/wiki/People/Beatmap_Nominators" target="_blank">Beatmap Nominators</a> (BN) are a group of users in charge of promoting Ranked beatmaps.</p>
    <p>Requirements for joining the BN:</p>
    <ul style="list-style-type: disc;">
        <li>At least 200 Kudosu earned for osu! modders</li>
        <li>At least 150 Kudosu earned for osu!taiko/osu!catch/osu!mania modders</li>
        <li>A positive mod score (evaluated through your modding activity in the last 3 months, see calculator below)</li>
        <li>Competent modding abilities/behavior (evaluated by members of the NAT through your submitted mods, other modding history, and community interaction)</li>
    </ul>
</div>

<hr>

{{#if loggedInAs}}
<div class="segment">
    <h4>Mod score: 
        <small id="totalScore" class="ml-1"></small> 
        <button class="btn btn-sm btn-nat ml-2" id="calculateScore"
            data-toggle="tooltip" data-placement="top" title="Automatically detect your mod score based on your modding history">Auto-calculate
        </button>
        <small id="calcWait" class="ml-2" style="font-size: 10pt;"></small>
    </h4>
    <p class="small ml-4 mb-3">Scores over 0 are passing. A "mod" is counted for each beatmapset through which you've received at least one Kudosu. </p>
    <div class="form-group row">
        <div class="pl-4">
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount1" type="number" class="form-control text-input" placeholder="first month...">
            </div>
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount2" type="number" class="form-control text-input" placeholder="second month...">
            </div>
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount3" type="number" class="form-control text-input" placeholder="third month...">
            </div>
        </div>
    </div>

    <h4>Game-mode:</h4>
    <div class="form-group row">
        <div class="pl-4">
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!"/>
                <input type="radio" class="osu-radio hide-default" name="mode" value="osu"/>
                <i class="fas fa-circle fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!taiko">
                <input type="radio" class="taiko-radio hide-default" name="mode" value="taiko"/>
                <i class="fas fa-drum fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!catch">
                <input type="radio" class="catch-radio hide-default" name="mode" value="catch"/>
                <i class="fas fa-apple-alt fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!mania">
                <input type="radio" class="mania-radio hide-default" name="mode" value="mania"/>
                <i class="fas fa-stream fa-lg"></i>
            </label>
        </div>
    </div>

    <h4>Example mods:</h4>
    <p class="small ml-4 mb-3">Link the discussion pages of at least two mapsets you've modded in the last six months. These (and potentially more) will be evaluated by the NAT.</p>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%">
            <div class="input-group mb-3">
                <input id="mod0" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3">
                <input id="mod1" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3">
                <input id="mod2" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3 ">
                <input id="mod3" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
        </div>
    </div>

    <div id="applyBlock" class="col-md-6 mt-2 text-center mx-auto">
        {{#unless pendingTest}}
        <button id="apply" class="btn btn-lg btn-block btn-nat" type="submit">Apply</button>
        <div class="pt-2">
            <span id="submitting" class="small"></span>
            <span id="errors" class="errors small"></span>
        </div>
        {{/unless}}
    </div>
    <div id="startTest" class="col-md-6 mt-2 text-center mx-auto">
        {{#if pendingTest}}
        <a href="/nat/testsubmission" class="btn btn-lg btn-nat" type="submit">Begin Ranking Criteria Test</a>
        <p class="small pt-2">Before your application can be reviewed, you must take a short test.</p>
        {{/if}}
    </div>
    
</div>
{{/if}}