<div class="segment segment-solid">
    <p>by applying to the beatmap nominators youre a dumbo blablabla</p>
</div>

<hr>

{{#if loggedInAs}}
<div class="segment">
    <h4>Mod score: <small id="totalScore" class="ml-1"></small> <button class="btn btn-sm btn-nat ml-2" id="calculateScore">Auto calculate!</button></h4>
    <div class="form-group row">
        <div class="pl-4">
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount1" type="number" class="form-control text-input" placeholder="count1">
            </div>
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount2" type="number" class="form-control text-input" placeholder="count2">
            </div>
            <div class="input-group mb-3">
                <input class="modCount text-input" id="modCount3" type="number" class="form-control text-input" placeholder="count3">
            </div>
        </div>
    </div>

    <h4>Game-mode:</h4>
    <div class="form-group row">
        <div class="pl-4">
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!"/>
                <input type="radio" class="osu-radio hide-default" name="mode" value="osu"/>
                <i class="fas fa-circle fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!taiko">
                <input type="radio" class="taiko-radio hide-default" name="mode" value="taiko"/>
                <i class="fas fa-drum fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!catch">
                <input type="radio" class="catch-radio hide-default" name="mode" value="catch"/>
                <i class="fas fa-apple-alt fa-lg"></i>
            </label>
            <label class="mx-1" data-toggle="tooltip" data-placement="top" title="osu!mania">
                <input type="radio" class="mania-radio hide-default" name="mode" value="mania"/>
                <i class="fas fa-stream fa-lg"></i>
            </label>
        </div>
    </div>

    <h4>Example mods:</h4>
    <p class="small ml-4 mb-3">Link the discussion pages of at least two mapsets you've modded in the last six months. These (and potentially more) will be evaluated by the NAT.</p>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%">
            <div class="input-group mb-3">
                <input id="mod0" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3">
                <input id="mod1" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3">
                <input id="mod2" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
            <div class="input-group mb-3 ">
                <input id="mod3" type="text" class="form-control text-input" placeholder="link to mod">
            </div>
        </div>
    </div>

    <div id="applyBlock" class="col-md-6 mt-2 text-center mx-auto">
        {{#unless pendingTest}}
        <button id="apply" class="btn btn-lg btn-block btn-nat" type="submit">Apply</button>
        <div class="pt-2">
            <span id="submitting" class="small"></span>
            <span id="errors" class="errors small"></span>
        </div>
        {{/unless}}
    </div>
    <div id="startTest" class="col-md-6 mt-2 text-center mx-auto">
        {{#if pendingTest}}
        <a href="/nat/testsubmission" class="btn btn-lg btn-nat" type="submit">Begin Ranking Criteria Test</a>
        <p class="small pt-2">Before your application can be reviewed, you must take a short test.</p>
        {{/if}}
    </div>
    
</div>
{{/if}}