<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NAT/BN Management</title>
    <meta name="keywords" content="beatmap nominators, nomination assesment team, nat, bn, osu">

    <link rel="icon" type="image/png" href="/images/qatlogo.png">
    <link
        rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"
    >

    <link href="/css/app.css" rel="stylesheet">
</head>

<body
    {{#unless loggedIn}}
    class="body-triangles"
    {{/unless}}
>

    {{#if loggedIn}}
    <div id="app"></div>
    {{else}}
    <div class="container py-4">
        <section class="card card-body">
            <div class="row">
                <div class="col-lg-5 text-center mb-3 mb-lg-0">
                    <div class="my-3">
                        <img src="/images/qatlogo.png" alt="NAT" class="mr-1" style="border-radius: 100%; box-shadow: 0px 1px 5px #41bba12e; width: 130px;">
                    </div>
                    <form class="" action="/login" method="GET">
                        <button class="btn btn-lg btn-primary" type="submit">Authorize your osu! account</button>
                    </form>
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <p>"Authorizing" will identify you through your osu! account.</p>
                    <p>You can do any of these after authorization:</p>
                    <ul>
                        <li>Apply to join the Beatmap Nominators</li>
                        <li>Automatically calculate mod score</li>
                        <li>Report members of the BN/NAT</li>
                        <li>View detailed BN/NAT listings, beatmap vetoes, and beatmap quality assurance info</li>
                    </ul>
                </div>
            </div>
        </section>

        <div id="app"></div>
    </div>
    {{/if}}

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
        crossorigin="anonymous"></script>

    <script src="/js/app.js"></script>
</body>

</html>