<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/css.css">
    <link rel="icon" type="image/png" href="../images/qatlogo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="text-light px-0">
    <nav id="top" class="navbar navbar-expand-md navbar-nat" style="position:absolute; width:100%">
        <a class="navbar-brand" href="/">
            <img src="../images/qatlogo.png" width="48" height="48" style="border-radius: 32px 32px 32px 32px; filter: drop-shadow(1px 1px 1px #000000);" alt="">
        </a>
        
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isBnApp}}inactive{{/unless}}" href="/nat/bnapps">BN Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isReports}}inactive{{/unless}}" href="/nat/reports">Report a BN/NAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isUsers}}inactive{{/unless}}" href="/nat/users">Users</a>
                </li>
                {{#if isBnOrNat}}
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isVetoes}}inactive{{/unless}}" href="/nat/vetoes">Vetoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isBnScore}}inactive{{/unless}}" href="/nat/bnscore">BN Score</a>
                </li>
                {{/if}}
                {{#if isNat}}
                <li class="nav-item dropdown">
                    <a class="nav-link text-shadow dropdown-toggle {{#unless isEval}}inactive{{/unless}}" href="#" data-toggle="dropdown">
                        Evaluations
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/nat/appeval">Applications</a>
                        <a class="dropdown-item" href="/nat/bneval">Current BNs</a>
                        <a class="dropdown-item" href="/nat/datacollection">Data Collection</a>
                        <a class="dropdown-item" href="/nat/evalarchive">Archive</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isManageReports}}inactive{{/unless}}" href="/nat/managereports">Manage Reports</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-shadow dropdown-toggle {{#unless isManageTest}}inactive{{/unless}}" href="#" data-toggle="dropdown">
                        RC Test
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/nat/managetest">Questions</a>
                        <a class="dropdown-item" href="/nat/testresults">Results</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-shadow {{#unless isLogs}}inactive{{/unless}}" href="/nat/logs">Logs</a>
                </li>
                {{/if}}
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    
    <div id="loading">
        <img id="load" src="../images/qatlogo.png">
    </div>

    <div id="main">
        <header class="container-fluid text-white text-center">
            <img src="../images/cat.png" class="header-img">
            <div class="header-img-overlay">
                <h3 class="header-img-overlay-title">{{title}}</h3>
            </div>
        </header>
        <div class="container">
            {{{body}}}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {{#if script}}
    <script src="{{{script}}}"></script>
    {{/if}}
</body>

</html>