<div class="card card-body">
    <table class="table table-sm table-dark table-hover my-3">
        <thead>
            <td scope="col">date</td>
            <td scope="col">user</td>
            <td scope="col">action</td>
        </thead>
        <tbody>
            {{#each logs}}
            <tr>
                <td scope="row">{{shortDate createdAt}} GMT</td>
                <td scope="row">{{#if user}}{{user.username}}{{else}}Anonymous{{/if}}</td>
                <td scope="row">{{shortAction action}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="text-center">
        <button class="btn btn-sm btn-nat mb-2" type="button" id="showMore">
            <i class="fas fa-angle-down mr-1"></i> show more <i class="fas fa-angle-down ml-1"></i>
        </button>
    </div>
</div>
