<div class="segment segment-image">
    <p>Report any member of the BN/NAT who you believe is doing something they shouldn't be, such as going against the Code of Conduct and/or BN Rules. Be sure to include constructive examples of misconduct to support your claim (for example images or forum links).</p>
    <p>Authors of reports are anonymous until a consensus is met. The consensus will then be relayed to you via osu! forum PM.</p>
</div>

<hr>

<div class="segment segment-image">
    <h4>Username:</h4>
    <p class="small ml-4 mb-3">Name of the user you want to report.</small></p>
    <div class="form-group row">
        <div class="pl-4" style="width: 250px" >
            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" placeholder="username..." maxlength="18">
            </div>
        </div>
    </div>

    <h4>Reason for report:</h4>
    <p class="small ml-4 mb-3">Try to include evidence, such as a link to a beatmap discussion or a screenshot.</small></p>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%">
            <div class="form-group">
                <textarea class="form-control dark-textarea" id="reason" rows="4" maxlength="1000"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-2 text-center mx-auto">
        <button id="report" class="btn btn-lg btn-nat" type="submit">Submit Report</button>
        <div class="pt-2">
            <span id="errors" class="errors small pt-2"></span>
            <span id="confirm" class="confirm small pt-2"></span>
        </div>
        
    </div>
</div>
<hr>