<div class="segment segment-image">
    <p>Reports can be made about anything mapping/modding related, including but not limited to:</p>
    <ul>
        <li>Stolen beatmaps</li>
        <li>Beatmaps breaking song content rules</li>
        <li>Inappropriate behavior on a map discussion page/beatmap comment</li>
        <li>A member of the BN/NAT violating the Code of Conduct/BN Rules</li>
    </ul>
    <p>Authors of reports are anonymous until a consensus is met. The consensus will then be relayed to you via osu! forum PM.</p>
</div>

<hr>

<div class="segment segment-image">
    <h4>Relevant beatmap/discussion post:</h4>
    <p class="small ml-4 mb-3">If multiple links need mentioning, include them in the reason field below.</small></p>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%" >
            <div class="input-group mb-3">
                <input id="link" type="text" class="form-control" placeholder="link..." maxlength="150" autocomplete="off">
            </div>
        </div>
    </div>
    
    <h4>Username:</h4>
    <p class="small ml-4 mb-3">If your report pertains to a member of the BN/NAT, include their name.</small></p>
    <div class="form-group row">
        <div class="pl-4" style="width: 250px" >
            <div class="input-group mb-3">
                <input id="username" type="text" class="form-control" placeholder="username..." maxlength="18" autocomplete="off">
            </div>
        </div>
    </div>

    <h4>Reason for report:</h4>
    <p class="small ml-4 mb-3">Try to include evidence, such as a link to a beatmap discussion or a screenshot.</small></p>
    <div class="form-group row">
        <div class="pl-4" style="width: 95%">
            <div class="form-group">
                <textarea class="form-control dark-textarea" id="reason" rows="4" maxlength="2000"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-2 text-center mx-auto">
        <button id="report" class="btn btn-lg btn-nat" type="submit">Submit Report</button>
        <div class="pt-2">
            <span id="errors" class="errors small pt-2"></span>
            <span id="confirm" class="confirm small pt-2"></span>
        </div>
        
    </div>
</div>
<hr>