:root {
    --nat-logo: #4AC2C2;
    --nat-logo-light: rgb(173, 255, 255);
    --nat: rgb(210, 34, 34);
    --nat-light: rgb(216, 104, 104);
    --nat-secondary: rgb(216, 104, 104, .6);
    --bn: #773ab8;
    --bn-light: #c189fc;
    --green: rgb(144, 243, 170);
    --green-secondary: rgb(144, 243, 170, .6);
    --probation: #cea0ff;
    --probation-light: #eeddff;
    --pass: #90f3aa;
    --available: var(--pass);
    --neutral: #a0c6ff;
    --wip: var(--neutral);
    --extend: #f0e770;
    --extend-secondary: #979243;
    --upheld: var(--extend);
    --fail: #ff9b9b;
    --withdrawn: var(--fail);
    --main-text: rgba(255, 255, 255, 0.871);
    --secondary-text: #b9bbbe;
    --secondary: #4e514f;
    --highlight: #fbff001e;

    --dark: #252525;
    --darker: #141414;
    --dark-alpha: #252525a6;
    --clicked: rgb(84, 161, 192);

    --elements-bg: #1e2422;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #151515;
    background: url('../images/triangles.png') repeat fixed;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff2e;
    background-image: radial-gradient(circle, transparent, #000 90%); 
    padding-bottom: 90px;
    margin-bottom: -100px;
    padding-top: 100px;
    z-index: -1;
    border-bottom: 5px solid black;
}

.header-img {
    position: relative;
    top: 0; 
    left: 0;
    min-width: 150px;
    min-height: 150px;
    width:150px;
    height:150px;
    opacity: 0.9;
    padding: 15px;
}

.header-img-overlay {
    position: relative;
    padding: 1.25rem;
}

.header-img-overlay-title {
    background-color: #ffffff2e;
    background-image: radial-gradient(circle, transparent, #000 90%);
    padding: 0.5rem;
}

small, .small {
    color: var(--secondary-text);
}

.table-sm {
    font-size: 0.9rem;
}

.table-dark {
    background-color: transparent;
    color: var(--main-text) !important;
}

.table-dark thead, .sub-header {
    background-color: #1f2022c4;
}

.table-dark thead td {
    font-weight: 600;
    color: hsla(0,0%,100%,.8);
    text-transform: uppercase;
}

.sub-header td {
    font-weight: 600;
    color: hsla(0,0%,100%,.8);
}

.sub-header:hover {
    cursor: pointer;
}

pre{
    white-space: pre-wrap;
}

a {
    color: var(--main-text);
    font-weight: bold;
}

a:hover {
    color: var(--clicked);
    text-decoration: none;
}

.fa-redo-alt:hover {
    color: lightgray;
}

.fa-redo-alt:hover:active {
    color: gray;
}

.fa-square:hover {
    color: lightgray;
}

.fa-square:hover:active {
    color: gray;
}

#main {
    visibility: hidden;
    padding-bottom: 50px;
}

#loading {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: calc(50vh);
    text-align: center;
    z-index: 1;
}

@-moz-keyframes loading {
    to {
        box-shadow: 10px 10px 15px 0px #333;
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    to {
        box-shadow: 10px 10px 15px 0px #333;
        -webkit-transform: rotate(360deg);
    }
}
@keyframes loading {
    to {
        box-shadow: 10px 10px 15px 0px #333;
        transform:rotate(360deg);
    }
}

#loading img {
    vertical-align: middle;
    border-radius: 100%; 
    width: 200px;
    height: 200px;
    -moz-animation: loading 1.5s ease-out infinite alternate;
    -webkit-animation: loading 1.5s ease-out infinite alternate;
    animation: loading 1.5s ease-out infinite alternate;
}

hr {
    border: 1px solid var(--secondary);
    opacity: 0.5;
    margin-left: -30px;
    margin-right: -30px;
}

.tooltip {
    font-family: 'Roboto', sans-serif;
}

.bs-tooltip-top > .arrow::before {
    border-top-color: rgb(238, 238, 238);
}

.bs-tooltip-bottom > .arrow::before {
    border-bottom-color: rgb(238, 238, 238);
}

.bs-tooltip-left > .arrow::before {
    border-left-color: rgb(238, 238, 238);
}

.bs-tooltip-right > .arrow::before {
    border-right-color: rgb(238, 238, 238);
}

.tooltip > .tooltip-inner {
    background-color: rgb(238, 238, 238);
    color: #333;
}

/* SPECIFICS */

.text-light {
    color: var(--main-text) !important;
}

.main-text{
    color: var(--main-text) !important;
}

.secondary-text{
    color: var(--secondary-text);
}

.pre-font{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.min-spacing{
    margin: 0px;
    padding: 0px; 
}

.minw-200{
    min-width: 200px;
}

.minw-150{
    min-width: 150px;
}

.segment {
    background-color: var(--dark);
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 5px 1px black;
}

.segment-image {
    background-image: url('../images/footer-triangles.png');
    background-repeat: repeat-x;
    background-position: bottom left;
}

.navbar-nat {
    background-image: linear-gradient(#226161d1, transparent);
    padding-bottom: 20px;
    z-index: 1;
}

.selected-answer {
    background-color: var(--highlight);
}

.selected-image-answer {
    background-color: var(--highlight);
    box-shadow: 5px 5px 5px 5px var(--highlight);
}

@media (max-width: 768px) {
    .navbar-nat {
        background-color: #363636;
        background-image: none;
        border-bottom: 3px solid #226161d1;
        padding-bottom: 0;
    }
}

.input-group-sm>.form-control:not(textarea):focus {
    height: inherit;
}

input[type='text'],
input[type='number'],
input[type='text']:focus,
input[type='number']:focus {
    height: 2.5em;
    min-width: 200px;
    padding-left: 0.75rem;
    color: var(--main-text);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary);
    box-shadow: none;
    border-radius: 0%;
}

input[type='text']:focus,
input[type='number']:focus {
    outline: 0;
    border-bottom: 1px solid #b5bbb7;
    box-shadow: 0 1px 0 0 #b5bbb7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.custom-select {
    min-width: 7.5rem;
    width: 7.5rem;
    height: 2.5em;
    color: var(--main-text);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4e514f;
    box-shadow: none;
    border-radius: 0%;
}

.custom-select:focus {
    outline: 0;
    border-bottom: 1px solid #b5bbb7;
    box-shadow: 0 1px 0 0 #b5bbb7;
}

.custom-select option {
    background-color: var(--elements-bg);
    border-color: transparent;
}

.text-shadow {
    text-shadow: 1px 1px 1px #000000;
}

.confirm {
    color: var(--neutral);
}

.errors {
    color: var(--fail);
}

.eval-card-spacing {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.custom-bg-dark {
    background-color: var(--dark);
}

.btn {
    border-radius: 3px;
    color: var(--main-text);
    letter-spacing: .3px;
}

.btn:hover {
    -webkit-box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    color: var(--main-text);
}

.btn-sm {
    padding: 5px 15px;
}

.btn-lg {
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-nat {
    border-color: hsla(0,0%,100%,.3);
}

.btn-nat:hover {
    border-color: hsla(0,0%,100%,.6);
    -webkit-box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
}

.btn-nat-red, .btn-nat-fail {
    border-color: var(--nat-secondary);
}

.btn-nat-red:hover, .btn-nat-fail {
    border-color: var(--nat-light);
    -webkit-box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
}

.btn-nat-green {
    border-color: var(--green-secondary);
}

.btn-nat-green:hover {
    border-color: var(--green);
    -webkit-box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
}

.btn-nat-yellow {
    border-color: var(--extend-secondary);
}

.btn-nat-yellow:hover {
    border-color: var(--extend);
    -webkit-box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
    box-shadow: 0 9px 30px 0 rgba(35,38,42,.1);
}

.btn-pags {
    position: absolute;
    top: calc(50% - 65px);
    margin: 0;
    padding: 0;
    height: 65px;
    background-color: var(--nat-logo);
    color: var(--dark);
}
.btn-pags-left {
    left:-10px;
}
.btn-pags-right {
    right:-10px;
}
@media (max-width: 768px) {
    .btn-pags {
        height: 35px;
        width: 50px;
    }
    .btn-pags-left {
        left: calc(50% - 65px);
        top: auto;
    }
    .btn-pags-right {
        right: calc(50% - 65px);
        top: auto;
    }
}

.border-nat {
    border-top: 5px solid var(--nat);
}

.border-bn {
    border-top: 5px solid var(--bn);
}

.border-probation {
    border-top: 5px solid var(--probation);
}

.border-pass {
    border-left: 5px solid var(--pass);
}

.border-neutral {
    border-left: 5px solid var(--neutral);
}

.border-extend {
    border-left: 5px solid var(--extend);
}

.border-fail {
    border-left: 5px solid var(--fail);
}

.bg-nat-logo {
    background-color: var(--nat-logo);
}

.bg-nat {
    background-color: var(--nat-light);
}

.bg-bn {
    background-color: var(--bn-light);
}

.bg-probation {
    background-color: var(--probation-light);
}

.bg-priority {
    background-color: rgb(110, 124, 248);
}

.dark-textarea,
.dark-textarea:focus {
    background-color: var(--darker);
    border-color: var(--dark);
    border-width: 1px;
    color: white;
    filter: drop-shadow(1px 1px 1px #000000);
    font-size:10pt;
}

.vote-pass {
    color: var(--pass);
}

.vote-neutral {
    color: var(--neutral);
}

.vote-extend {
    color: var(--extend);
}

.vote-fail {
    color: var(--fail);
}

.vote-border-fail {
    border-left: 3px solid var(--fail);
}

.vote-border-fail-wide {
    border-left: 5px solid var(--fail);
}

.vote-border-extend {
    border-left: 3px solid var(--extend);
}

.vote-border-extend-wide {
    border-left: 5px solid var(--extend);
}

.vote-border-neutral {
    border-left: 3px solid var(--neutral);
}

.vote-border-pass {
    border-left: 3px solid var(--pass);
}

.vote-border-pass-wide {
    border-left: 5px solid var(--pass);
}

.vote-border-invis {
    border-left: 3px solid transparent;
}

.badge-pass {
    background-color: var(--pass);
    color: #111;
}
  
.badge-neutral {
    background-color: var(--neutral);
    color: #111;
}
  
.badge-extend {
    background-color: var(--extend);
    color: #111;
}
  
.badge-fail {
    background-color: var(--fail);
    color: #111;
}

.badge-none {
    background-color: var(--secondary-text);
    color: #111;
}

/* RADIO MODES */
.hide-default {
    display: none;
}

input[type="radio"] + .fas { cursor: pointer; }

/* Unchecked */
.osu-radio + .fa-circle:before { content: "\f111"; }
.taiko-radio + .fa-drum:before { content: "\f569"; }
.catch-radio + .fa-apple-alt:before { content: "\f5d1"; }
.mania-radio + .fa-stream:before { content: "\f550"; }
.all-radio + .fa-globe:before { content: "\f0ac"; }

/* Checked */
.osu-radio:checked + .fa-circle:before { 
    color: var(--clicked);
    content: "\f111"; 
}
.taiko-radio:checked + .fa-drum:before { 
    color: var(--clicked);
    content: "\f569"; 
}
.catch-radio:checked + .fa-apple-alt:before { 
    color: var(--clicked);
    content: "\f5d1"; 
}
.mania-radio:checked + .fa-stream:before { 
    color: var(--clicked);
    content: "\f550"; 
}
.all-radio:checked + .fa-globe:before { 
    color: var(--clicked);
    content: "\f0ac"; 
}
/* END RADIO MODES */

.card-bg-nat {
    background: url('../images/nat.png') no-repeat left;
}
.card-bg-bn {
    background: url('../images/bn.png') no-repeat left;
}
.card-bg-probation {
    background: url('../images/probation.png') no-repeat left;
}

.card-bg-priority {
    background-color: rgb(38, 48, 63)!important;
}

.card {
    min-height: 110px;
    height: 100%;
    background-color: var(--elements-bg);
    filter: drop-shadow(0 2px 1rem #111);
    box-shadow: 1px 1px 4px 0px rgb(0, 0, 0);
    transition: all 0.12s ease-in-out;
    cursor: default;
}

.card-body {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.card-footer {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.selected-card {
    background-color: rgb(65, 65, 65);
}

.card:hover {
    transform: scale(1.03);
    opacity: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    overflow: hidden;
    object-fit: cover;
}

.card-body p {
    margin: 0;
}

.card-status {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid transparent;
    z-index: 10000;
}

.card-status-pass {
    border-right: 15px solid var(--pass);
}

.card-status-extend {
    border-right: 15px solid var(--extend);
}

.card-status-fail {
    border-right: 15px solid var(--fail);
}

.dropdown-item:hover {
    background-color: var(--nat-logo);
}

.modal-content {
    background-color: var(--dark);
    overflow: hidden;
}

.inactive {
    color: rgb(187, 187, 187);
}

.list-enter-active,
.list-leave-active,
.list-move {
    transition: all 1s;
}

.list-leave-active {
    position: absolute;
}

.list-enter,
.list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.sorted {
    background-color: #ffffff2e;
    padding: 7px;
    border-radius: 9px;
    color: var(--secondary-text);
}

.unsorted {
    padding: 7px;
}

.copy-paste {
    background-color: darkslategray;
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    box-shadow: 1px 1px 2px 1px black;
}

.wrap-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-header {
    width:60px; 
    display: inline-block;
}


@media (max-width: 768px) {
    .filter-box {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }

    .filter-box > input,
    .filter-box > select,
    .filter-box > button {
        margin-top: 0.5rem;
        width: 100%;
    }
}

.close {
    text-shadow: none;
}
